:root {
  --darkest: #484349;
  --dark: #707a7e;
  --middle: #9ba8ae;
  --light: #EDE6F2;
  --lightest: #FFFAFF;
  --color: #00FF7F;
  --black: #100B00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--light);
  color: var(--black);
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin: 1rem;
}

svg > * {
  pointer-events: none;
}

button, svg, a, footer ul li {
  cursor: pointer;
}

button {
  font-family: inherit;
  min-height: 32px;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--lightest);
  background-color: var(--black);
}

/* Button styles */
button.add {
  border-radius: 0 0 1rem 1rem;
  align-self: stretch;
  height: 2rem;
  margin-top: auto;
}

button:hover {
  background-color: var(--color);
  color: var(--black);
  transform: scale(1.01);
}

button.modify {
  font-size: 1.3rem;
  min-width: 32px;
}

button.close {
  margin: 0.25rem;
  font-size: 2rem;
  border: none;
  background-color: transparent;
  align-self: flex-start;
  color: var(--black);
}

button.close:hover {
  transform: scale(1.1);
}

button.quantity {
  display: grid;
  place-content: center;
  width: 32px;
  height: 32px;
  border: none;
  font: inherit;
  font-size: 1.3rem;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: var(--lightest);
  color: var(--black);
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  box-shadow: 0 2px 5px var(--darkest);
}

nav a {
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--black);
  text-decoration: none;
}

header a.title {
  display: flex;
  color: var(--black);
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 700;
}

header a.title img {
  pointer-events: none;
}

header img.icon {
  margin-left: 5px;
  height: 30px;
}

nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 2rem;
  text-transform: uppercase;
}

nav a:hover {
  text-decoration: underline;
  transform: scale(2);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

aside {
  padding: 1rem;
  padding-right: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  width: 500px;
  max-width: 80vw;
  background-color: var(--lightest);
  display: flex;
  gap: 1rem;
  border-right: 1px solid var(--darkest);
  box-shadow: -1px 0px 20px var(--darkest);
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.top-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.basket {
  position: relative;
}

.basket:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.basket svg {
  pointer-events: none;
  font-size: 2.5rem;
}

.basket span {
  display: flex;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.5rem;
  right: 1.75rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 2px;
  min-width: 24px;
  min-height: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: red;
  color: var(--lightest);
}

footer {
  padding: 0.75rem;
  display: flex;
  margin-top: auto;
  font-size: 0.9rem;
  justify-content: space-between;
  background-color: var(--dark);
  color: var(--lightest);
  box-shadow: 0 -1px 10px var(--dark);
}

footer ul {
  list-style: none;
  gap: 0.5rem;
  display: flex;
}

footer ul li:hover {
  text-decoration: underline;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  align-self: stretch;
  color: var(--lightest);
}

.big-background {
  object-fit: cover;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./images/hero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.hero h1 {
  font-size: 2.8rem;
}

.hero .big-link {
  font-size: 2rem;
}

.products {
  margin: 1rem 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  max-width: 1200px;
}

.product {
  background-color: var(--lightest);
  display: flex;
  min-width: 100px;
  max-width: 200px;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 0.75rem;
  border: 1px solid var(--middle);
  border-radius: 1rem;
}

.product > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 0.5rem;
  gap: 0.25rem;
  justify-content: space-between;
  flex-grow: 1;
}

.product > ul li:nth-of-type(1) {
  font-weight: 600;
}

.product > ul li:nth-of-type(2) {
  text-transform: uppercase;
  color: grey;
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.product > ul li:nth-of-type(3) {
  text-align: right;
  margin-top: auto;
}

.image-container {
  align-self: center;
}

.product img {
  width: 100%;
  height: 100%;
  min-height: 200px;
  font-size: 1rem;
  text-align: left;
  border-radius: 1rem 1rem 0 0;
}

.product > section {
  padding: 0 0.5rem;
  display: flex;
  height: 1.5rem;
  margin-bottom: 0.5rem;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

.product > section > svg {
  font-size: 1.5rem;
  margin-right: auto;
}

.product > section > p {
  display: grid;
  place-content: center;
  width: 64px;
  height: 32px;
  font-size: 1.1rem;
  text-align: center;
}

.big-link {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.25rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  align-self: center;
  text-align: center;
  color: var(--lightest);
  background-color: var(--black);
}

.big-link:hover {
  color: var(--black);
  background-color: var(--color);
  transform: scale(1.1);
}

aside h3 {
  font-size: 1.7rem;
}

.cart-items {
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-height: 800px;
  overflow-y: auto;
}

.cart-item {
  display: grid;
  column-gap: 1rem;
  row-gap: 0.5rem;
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: max-content 1fr;
}

.cart-item ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  line-height: 1.7rem;
}

.cart-item ul li:nth-of-type(1) {
  font-weight: 600;
  font-size: 1.2rem;
}

.cart-item ul li:nth-of-type(2) {
  margin-right: 0.25rem;
  font-size: 1rem;
}

.cart-item ul li:nth-of-type(3) {
  flex-basis: 100%;
}

.cart-item svg {
  font-size: 1.5rem;
  margin-right: auto;
}

.cart-item svg:hover,
.product svg:hover {
  transform: scale(1.1);
}

img.thumbnail {
  grid-row: 1 / -1;
  width: 75px;
  place-self: center;
}

p.subtotal {
  width: 100%;
  text-align: right;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  padding-right: 1rem;
}

.cart-item-bottom-container {
  align-self: end;
  display: flex;
  align-items: center;
}

p.quantity {
  display: grid;
  place-content: center;
  width: 32px;
  height: 32px;
}

.empty {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.overlay {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 1000vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

img.contact {
  cursor: pointer;
}

img.contact:hover {
  background-color: var(--color);
  border-radius: 0.25rem;
}

.contact-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-evenly;
}

.contact-page > section {
  width: 600px;
  max-width: 80vw;
  background-color: var(--lightest);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  padding: 2rem;
  border: 1px solid var(--middle);
  border-radius: 1rem;
}

.social h2 {
  justify-self: start;
}

.social ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.details ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  font-size: 1.3rem;
}

.details ul span {
  margin-right: 1rem;
  font-weight: 600;
}

.order-summary {
  background-color: var(--lightest);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  border: 1px solid var(--middle);
  border-radius: 1rem;
}

.order-summary > article {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  margin-bottom: 1rem;
}

.order-summary .subtotal {
  padding: 0;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes slideInFromRight {
    0% {
      transform: translateX(101%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @-webkit-keyframes -webkit-slideInFromRight {
    0% {
      -webkit-transform: translateX(200%);
    }
    100% {
      -webkit-transform: translateX(0);
    }
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @-webkit-keyframes -webkit-slideInFromLeft {
    0% {
      -webkit-transform: translateX(-200%);
    }
    100% {
      -webkit-transform: translateX(0);
    }
  }

  @-webkit-keyframes -webkit-textAttention {
    0% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes textAttention {
    0% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  .overlay {
    -webkit-animation-name: -webkit-slideInFromLeft;
    -webkit-animation-duration: .3s;
    animation-name: slideInFromLeft;
    animation-duration: .3s;
  }
  
  aside {
    -webkit-animation-name: -webkit-slideInFromRight;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: backwards;
    
    animation-name: slideInFromRight;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: backwards;
  }
  
  aside .top-section {
    -webkit-animation-name: -webkit-slideInFromRight;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay: 0.3s;
    -webkit-animation-fill-mode: backwards;
    
    animation-name: slideInFromRight;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-fill-mode: backwards;
  }
  
  aside .big-link {
    -webkit-animation-name: -webkit-slideInFromRight;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: backwards;
    
    animation-name: slideInFromRight;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
  }
  
  aside .subtotal {
    -webkit-animation-name: -webkit-slideInFromRight;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay: 0.75s;
    -webkit-animation-fill-mode: backwards;
    
    animation-name: slideInFromRight;
    animation-duration: 0.5s;
    animation-delay: 0.75s;
    animation-fill-mode: backwards;
  }

  .cart-items {
    -webkit-animation-name: -webkit-slideInFromRight;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-fill-mode: backwards;

    animation-name: slideInFromRight;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
  }
  
  .cart-item ul li:nth-of-type(2) {
    -webkit-animation-name: -webkit-textAttention;
    -webkit-animation-duration: .75s;

    animation-name: textAttention;
    animation-duration: .75s;
  }

  .empty {
    -webkit-animation-name: -webkit-slideInFromRight;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-fill-mode: backwards;

    animation-name: slideInFromRight;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
  }
}